@import url('https://fonts.googleapis.com/css?family=Epilogue');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Epilogue';
  font-size: 18px;
  font-weight: 500;
  background: hsl(0, 0%, 98%);
}
